// -------------------------------------------------------------------
// Fichier de configuration pour la SmartTable
// -------------------------------------------------------------------

// Paramètre du serveur de diffusion
String OSC_LISTENER_DIFFUSION_ADDR = "localhost";
int OSC_LISTENER_DIFFUSION_PORT = 12000;

// Paramètre du client Viewer
String OSC_LISTENER_VIEWER_ADDR = "localhost";
int OSC_LISTENER_VIEWER_PORT = 8040;

// Etat du de la presentation
String[] prez = { "PRESENTATION", "VISITE VIRTUELLE", "OBJETS 3D" };

// Timeout de retour sur le mode présentation en millisecondes
int returnTimeout = 10000;

